* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
span {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  padding: 0 40px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1612;
}

.navbar .burger {
  display: none;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar .logo img {
  width: 38px;
  height: 38px;
}

.navbar .logo h3 {
  font-size: 22px;
}

.navbar .logo h3 a {
  color: #ffffff;
  font-weight: 400;
}

.navbar .menu .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.navbar .menu .nav-links a {
  font-size: 16px;
  color: white;
}

@media (max-width: 900px) {
  .navbar .menu {
    display: none;
  }

  .navbar .burger {
    display: block;
  }

  .navbar .burger div {
    background-color: white;
    height: 3px;
    width: 40px;
    margin-bottom: 5px;
  }
}

.hero {
  height: 90vh;
  background-image: url("./Assets/HeroImg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}

.hero .content {
  width: 605px;
  height: 265px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
}

.hero .content h3 {
  color: #a19b99;
  font-size: 30px;
}

.hero .content h1 {
  font-size: 60px;
}

@media (max-width: 700px) {
  .hero {
    background-position: right;
    justify-content: center;
    padding-right: 0;
    padding: 0 20px;
  }

  .hero .content {
    width: 405px;
    height: 265px;
    padding: 0 20px;
    gap: 20px;
  }

  .hero .content h3 {
    font-size: 20px;
  }

  .hero .content h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

.about {
  background-color: #23242b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
  gap: 100px;
}

.about h2 {
  font-size: 50px;
  color: #8e8e8e;
}

.about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.about .about-container .about-card {
  gap: 40px;
  width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  img {
    width: 400px;
  }
}

.about .about-container .about-card h3 {
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.about .about-container .about-card p {
  color: #717a87;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 600px) {
  .about {
    padding: 100px 0;
    gap: 50px;
  }
}

.services {
  background-color: #1a1a1a;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  img {
    width: 100%;
  }
}

.services h2 {
  font-size: 50px;
  color: #8e8e8e;
}

.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.services .services-container .services-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.services .services-container .services-card h3 {
  color: white;
}

.projects {
  background-color: #23242b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px 0;
  gap: 100px;
}

.projects h2 {
  font-size: 50px;
  color: #8e8e8e;
}

.projects .projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.projects .projects-container .project-card {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.projects .projects-container .project-card img {
  width: 100%;
}

.projects .projects-container .project-card h3 {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .projects .projects-container .project-card {
    padding: 100px 0;
    gap: 50px;
  }
}

/* Footer */
.footer {
  width: 100%;
  background-color: #6c4343;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 150px;
  padding-top: 120px;

  img {
    width: 400px;
  }
}

.footer .top-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .top-footer h2 {
  color: #956767;
  font-size: 40px;
}

.footer .top-footer .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}

.footer .top-footer h2 span {
  display: block;
}

.footer .top-footer h3 {
  font-size: 28px;
  color: white;
}

.footer .top-footer .contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.footer .phone,
.footer .email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.footer .bottom-footer {
  border-top: 1px solid #956767;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

.footer .bottom-footer p {
  font-weight: 400;
  font-size: 11px;
}

@media (max-width: 1150px) {
  .footer {
    padding: 30px;
    padding-top: 50px;
  }
  .footer .top-footer {
    flex-direction: column-reverse;
  }

  .footer .top-footer .contact-img {
    width: 300px;
    height: auto;
  }
}
